* {
	box-sizing: border-box;
}
html {
	height: 100%;
	padding: 0;
	margin: 0;
}
body {
	height: 100%;
	display: flex;
	flex-direction: row;
	padding: 0;
	margin: 0;
	align-items: stretch;
	justify-content: stretch;
	font-family: sans-serif;
}
#example-graph {
	position: relative;
	overflow: hidden;
	flex: 1;
	margin: 30px 0;
	background: #eee;
	border-radius: 8px;
	box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 0.3);
}
form {
	margin-top: 30px;
	width: 200px;
}
.test-label {
	background: rgba(50, 100, 255, 0.5);
	padding: 4px 8px;
	border-radius: 8px;
	text-align: center;
	width: 120px;
	margin-left: -110px;
}
.form-field {
	padding: 8px;
	white-space: nowrap;
	border-bottom: 1px solid #ddd;
}
.form-field > label {
	display: block;
	text-align: center;
}
.form-field > label.checkbox {
	text-align: left;
}
.form-field > label > input[type="checkbox"] {
	width: auto;
}
.form-field .range-value {
	display: inline-block;
	width: 30px;
	text-align: right;
}
.form-field input {
	width: 100px;
	vertical-align: middle;
}
.form-field input + .range-value {
	text-align: left;
}
